<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read operation</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Please try again later!</h1>
    <!-- <div class="container1">
        <div class="contain" style="display: flex; justify-content: space-around;">
            <h3>Read & Delete Operation</h3>
            <button type="submit" class="create-new"><a href="/index.html" class="create-new">Create New</a></button>
        </div>

        <% if(rows.length> 0) { %> <% rows.map((eachData)=>{ %>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"><%- eachData.name %></h3>
                        <h4 class="card-subtitle"><%- eachData.email %></h4>

                        <a href="/update-data?id=<%- eachData.id %>">Edit</a>
                        <a href="/delete-data?id=<%- eachData.id %>">Delete</a>
                    </div>
                </div>
                <% }) %>
                    <%}else { %>
                        <div class="container" style="display: flex; align-items: center; justify-content: center;">
                            <div class="form-lables" style="text-align: center;">
                                <h1>No Data found 302</h1>
                            </div>
                        </div>
                        <% } %>
    </div> -->

</body>

</html>